<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" />
    <title>Dashboard Web Application</title>
    <script src="@Url.Content("~/Scripts/DashboardExport.js")" type="text/javascript"></script>


    @Html.DevExpress().GetStyleSheets(
            new StyleSheet { ExtensionSuite = ExtensionSuite.Dashboard }
        )
    @Html.DevExpress().GetScripts(
            new Script { ExtensionSuite = ExtensionSuite.Dashboard }
        )
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    @RenderBody()
</body>
</html>